body {
    background-color: #f2f6fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-card {
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: #fff;
}
